<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Array Communication</title>
</head>

<body>
  <script>
    function sendData() {
      const data = {
        Formation1: [[5, 4, 3], [9, 8, 7]],
        Formation2: [[1, 2, 3], [4, 5, 6]]
      };
      fetch('/your-backend-url', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
        .then(response => response.json())
        .then(data => {
          console.log('Response from backend:', data);
        })
        // .catch(error => console.error('Error:', error));
    }
  </script>
  <!-- <form action="/your-backend-url" methods="POST""> -->
  <button onclick="sendData()">Send Data</button>
  <!-- </form> -->
</body>

</html>