<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div style="background-color: rgb(24, 191, 135); display: flex; justify-content: center; align-items: center; height: 150px;">
        <h1 style="color: black;">Content to Website</h1>
    </div >

    <div style="background-color: rgb(130, 238, 246); display: flex;height: 30px; justify-content: start; padding: 10px;">
        <h3 style="color: white; margin-right: 30px; padding-bottom: 10px;">Home</h3>
        <h3 style="color: white; margin-right: 30px;">About</a></h3>
        <h3 style="color: white; margin-right: 30px;">Services</a></h3>
        <h3 style="color: white; margin-right: 30px"> Content Us</h3>
    </div>


    <style>
        .container {
            display: flex;
            margin-bottom: 0px;
        }
    
        .column {
           
            padding: 10px;
            border: 1px solid #ccc;
        }
    </style>
    <div class="container">
        <div class="column" style="background-color: yellow; width: 23%; height: 400px;">
            <!-- Content for the first column -->
            <h4>WT</h4>
            <h4>PPS</h4>
            <h4>ADE</h4>
        </div>
        <div class="column" style="background-color: rgb(119, 116, 116); width: 77%; height: 400px;">
            <!-- Content for the second column -->
            <h3>Web Languages and Technologies:</h3>
            <p>HTML (Hypertext Markup Language): HTML is the fundamental markup language used to structure the content of web pages. It defines the elements and layout of a web page.</p>

            <h3>Web Development Frameworks:</h3>
            <p>Frameworks like React, Angular, and Vue.js are used for building dynamic, single-page applications (SPAs).
                Backend frameworks like Node.js, Ruby on Rails, Django, and Laravel facilitate server-side development and database interactions.</p>

            <h3>Server-Side Technologies:</h3>
            <p> Server-side scripting languages like PHP, Python, Ruby, and Node.js are used to handle server logic and generate dynamic web content.</p>
        </div>
    </div>


   <div style="background-color: rgb(152, 152, 239); padding-top: 5px ;">
    <h2>Social Networking Icons
    </h2>
</div>    
</body>
</html>